<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style = "background-color:rgb{{ random_color() }}">
<center>
<h1 style="font-family: Russo Ones, sans-serif;">SPIN THE GNO.ME</h1>
</center>
<center>
<video width = "80%" controls autoplay muted loop>
{% if faster %}
  <source src="{{ url_for('static', filename= 'faster.mp4')}}" type="video/mp4">
{% else %}
  <source src="{{ url_for('static', filename= 'spinthegnomeslow.mp4')}}" type="video/mp4">
{% endif %}
  Your browser does not support the video tag.
</video>
{% if faster %}
<a href="/">Slower</a>
{% else %}
<a href="/faster">Faster</a>
{% endif %}
</center>
<h1>click the play button below for a <i>special</i> holiday message</h1>
<audio controls autoplay>
<source src="{{ url_for('static', filename = "merry_christmas.wav")}}" type = "audio/wav">

</audio>

<img src="{{ url_for('static', filename = "living.gif")}}" width = 200 />

{{ your_new_year_forecast() }}

</body>

</html>
